*{
  margin: 0;
  padding: 0;
}
.home-body{
  background-color: rgb(230, 143, 112);
  width: 100%;
}
.songs{
  background-color: rgba(220, 220, 220, 0.247);
  /* background-color: rgba(220, 144, 116, 0.438); */
}
.more{
  height: 15vh;
}
.song-holder{
  background-color: rgb(228, 128, 56);
  /* width: fit-content; */
  padding: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  border-radius: 20px;
  /* justify-content: space-around; */
}
.img-holder{
  width: 170px;
  height: 150px;
  border-radius: 10px;
}
.title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.songpicture{
  width: 100%;
  height: 55vh;
}
.play{
  background-color: coral;
  width: 100%;
  height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plays{
  width: 100%;
  height: 90vh;
  background-color: antiquewhite;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}